[2017-09-12 08:09] bushidonggua opened #3 "训练报错"
错误如下：
    net = mobile_net(image)
  File "mobilenet_pruning.py", line 70, in mobile_net
    stride=1)
  File "mobilenet_pruning.py", line 43, in depthwise_separable
    pa0 = ParamAttr(update_hooks = Hook('dynamic_pruning', sparsity_upper_bound=0.75))
TypeError: __init__() got an unexpected keyword argument 'sparsity_upper_bound'

[2017-09-12 08:13] NHZlX commented on #3
dynamic pruning 一直没有merge 到主线中去， 所以可以参照https://github.com/PaddlePaddle/Mobile/tree/master/flowers102/mobilenet_pruning

[2017-09-15 02:14] #3 closed

[2017-09-15 02:17] bushidonggua opened #4 "mobilenet_pruning这个为什么我跑出来是11M而不是说明中提到的4.3M"
训练mobilenet_pruning，跟mobilenet那个相比，由12M变为11M，并没有那里面提到的变为4.3M，是为什么呢？

[2017-09-18 13:00] NHZlX commented on #4
给我的信息太少了， 把你的配置文件粘贴一下。 训练时候会打印每层的稀疏度的log， 可以把这个粘贴一下

[2017-09-19 08:01] bushidonggua commented on #4
是不是一定要用gpu训练才会有效果，每三个pass由于sparsity变大模型会开始逐渐变小一点，我用cpu训练尺寸一直都是11M基本完全没变化，换成用gpu训练好了

[2017-09-19 08:38] NHZlX commented on #4
不是的， gpu 和cpu 只是差别在训练速度上。 默认的超参数是end_pass 为60也就是知道end_pass 个pass 后， 才达到提前设定的sparsity。 而interval_pass默认为3 代表，我们每3个pass 会变化一次sparsity， 这两个超参数都是可以改的， 通过`    pa0 = ParamAttr(update_hooks = Hook('dynamic_pruning', sparsity_upper_bound=0.75, interval_pass = 2, end_pass = 20))`  即每两次pass 变化一次sparsity ，直到20个pass后达到0.75的sparsity。

[2017-09-19 09:03] bushidonggua commented on #4
可是奇怪的是相同的超参数，训练相同的pass数，我是对比18个pass，gpu训练每3个pass确实会变小，cpu的一直保持11M左右的体积，而我看sparsity确实是不停地在变的，达到0.5以上也没让他有太大的体积变化

[2017-09-19 09:06] NHZlX commented on #4
这个确实可能存在问题  你先用gpu训练，稍后我会对cpu的测试一下

[2017-09-19 09:09] bushidonggua commented on #4
恩恩，感谢！

[2017-09-25 15:12] NHZlX opened #7 "add merge batch normalization tools"
When the training process is finished, we can merge the batch normalization with the convolution or fully connected layer.  Merge batch normalization speeds up the forward process by around 30%.

[2017-09-26 04:50] NHZlX opened #9 "add rounding evaluating"
Given floating parameters `V`, first our goal is to represent `V` as 8-bit integers `V'`. And then we transformed back `V'` back into its approximate high-precision value by performing the inverse of the quantization operation. At last, we perform gzip to our quantized && inverse-quantized model. The whole process can reduces our model by 70%.

[2017-09-28 01:51] #9 closed

[2017-09-28 02:44] #7 closed

[2017-10-24 07:37] hedaoyuan opened #17 "Remove mobilenet.py and resnet.py in models or flowers102."
Mobilenet.py and resnet.py are duplicated in this two directories.

[2017-10-25 03:52] #17 closed, assigned to NHZlX

[2017-10-25 04:02] NHZlX commented on #4
这个bug 已经fix

[2017-10-25 04:02] #4 closed

[2017-10-25 06:45] NHZlX opened #19 "a paddle_merge_model script is needed"
paddle_merge_model  can integrate the model config file and parameter to one files.
It would be very convenient if  there is a script.

[2017-11-06 22:24] jetfuel opened #23 "The links for How to build PaddlePaddle for mobile are broken"
There are two links under How to build PaddlePaddle for mobile. They are

- Build PaddlePaddle for Android
- Build PaddlePaddle for Raspberry Pi3

And they are both broken right now. This might relate to the recent rearrangement in Paddle.

[2017-11-07 02:33] lk1ngaa7 commented on #23
@jetfuel you can find here https://github.com/PaddlePaddle/Paddle/tree/develop/doc/mobile

[2017-11-07 04:08] #19 closed, assigned to NHZlX

[2017-11-07 05:00] Xreki commented on #23
@jetfuel I renamed `doc/howto/cross_compiling` into `doc/mobile` as discussed in https://github.com/PaddlePaddle/Paddle/issues/5168. The links are fixed in #24 .
Now the building documentation can also be shown on the website now:
- http://doc.paddlepaddle.org/develop/doc_cn/mobile/index_cn.html
- http://doc.paddlepaddle.org/develop/doc/mobile/index_en.html

[2017-11-07 05:16] #23 closed, assigned to Xreki

[2017-11-07 11:03] Xreki opened #25 "SSD Demo on Android and iOS"
We are planing to build a SSD (Single Shot MultiBox Detector) demo running on Android and iOS. PaddlePaddle has integrated the SSD algorithm and posted an example to demonstrate how to use the SSD model for object detection, https://github.com/PaddlePaddle/models/tree/develop/ssd.

# Goals

To show PaddlePaddle's ability on mobile, we choose to run inference of SSD model on Android and iOS with fo

[2017-11-07 11:54] Xreki commented on #25
# How to link PaddlePaddle in an iOS application

- Copy the PaddlePaddle's library to your project root
- Add the `include` directory to **Header Search Paths**
![image](https://user-images.githubusercontent.com/12538138/32491809-b215cf7a-c37d-11e7-87f8-3d45f07bc63e.png)

- Add the `Accelerate.framework` or `veclib.framework` to your project, if your PaddlePaddle is built with `IOS_USE_VECLIB_FOR

[2017-11-15 02:24] qingqing01 opened #27 "Deadlink in benchmark/tool/C"
https://github.com/PaddlePaddle/Mobile/tree/develop/benchmark/tool/C

The link to `this document` is a dead link. What does the `PADDLE_ROOT` mean in the cmake arguments?

[code]

[2017-11-15 02:31] hedaoyuan commented on #27
The `PADDLE_ROOT` argument, is the directory that the `CMAKE_INSTALL_PREFIX` argument is set when building paddle.
The `document` link is https://github.com/PaddlePaddle/Paddle/blob/develop/doc/mobile/cross_compiling_for_android_en.md

[2017-11-15 02:57] qingqing01 commented on #27
Oh, I see... The argument `PADDLE_ROOT` is used in [FindPaddle.cmake](https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/FindPaddle.cmake).

[2017-11-15 03:30] #27 closed, assigned to nobody

[2017-11-18 13:14] abhinavarora opened #30 "Investigate Android NN"
https://developer.android.com/ndk/guides/neuralnetworks/index.html

[2017-11-18 13:15] abhinavarora opened #31 "Investigate TF Lite"
https://www.tensorflow.org/mobile/tflite/

[2017-11-20 02:30] qingqing01 opened #32 "Investigate SNPE (with tensorflow and Caffe2)"
https://developer.qualcomm.com/software/snapdragon-neural-processing-engine

Arch:

<img width="669" alt="snpe_arch" src="https://user-images.githubusercontent.com/7845005/33125097-4ad7f65a-cfba-11e7-8635-996f8168255f.png">

[2017-11-23 01:02] kavyasrinet opened #33 "In depth survey of TensorFlow Lite and MutliGPU support of TensorFlow."
Here are the links to my previous survey so far:
1.  https://github.com/PaddlePaddle/Paddle/pull/5412
2. https://github.com/PaddlePaddle/Paddle/pull/5284

[2017-11-23 10:08] lhsoft opened #34 "The num_filters of depthwise_separable seems wrong in mobilenet"
The  mobile net paper said "We use depthwise convolutions to apply a single filter per each input channel (input depth)".
But in paddlepaddle implementation
[code]
the num_filters1 is the same as num_groups and the input channel is 32, it will cause a single filter be precessed by 32 filter. so the num_filters1 here should be 1 rather than 32
I‘m glad to fix if possible:)

[2017-11-23 13:40] hedaoyuan commented on #34
@NHZlX

[2017-11-23 14:53] NHZlX commented on #34
@lhsoft
[code]
 the num_filters1 represents the output channel of the depthwise convolution, and the num_filters2 represents the output channel of the pointwise convolution.

[2017-11-24 05:44] lhsoft commented on #34
@NHZlX
Thanks for you reply.
[code]
And the input channel = 32, so paddle will create 32 * 32 filters.  And each group will process 32/32 = 1 channel by 32 filters, Does it make sense?

[2017-11-24 12:07] NHZlX commented on #34
there is something wrong with our doc http://paddlepaddle.org/docs/develop/documentation/zh/api/v2/config/layer.html, we will fix it soon.

[2017-11-28 10:56] abhinavarora commented on #30
Completed the survey here -> https://github.com/PaddlePaddle/Mobile/wiki/Android-NN-Survey

[2017-11-28 10:56] #30 closed, assigned to abhinavarora

[2017-11-28 11:24] abhinavarora opened #35 "Investigate CoreML"
https://developer.apple.com/documentation/coreml

[2017-11-29 10:58] NHZlX opened #36 "refine the doc of the inference demo"
the following Sentence is confused to users.

`./inference --merged_model ./model/mobilenet.paddle --input_size 150528
`

1.what's the input_size
2.how to generate the mobilenet.paddle

[2017-11-30 04:42] NHZlX commented on #31
refer:
https://github.com/PaddlePaddle/Mobile/wiki/Tensorflow-Lite-(Introduction,-motivation-and-few-components-in-depth)
https://github.com/PaddlePaddle/Mobile/wiki/TfLite-Survey

[2017-11-30 07:27] abhinavarora commented on #35
Refer to https://github.com/PaddlePaddle/Mobile/wiki/CoreML-Survey

[2017-11-30 07:27] #35 closed, assigned to abhinavarora, jacquesqiao

[2017-12-01 10:49] NHZlX opened #39 "add the ssd mobilenet to models"
add the ssd mobilenet to models

[2017-12-01 18:19] kavyasrinet commented on #31
We can move this to Done.

[2017-12-01 18:20] kavyasrinet opened #41 "Investigate FlatBuffers"
FlatBuffers are the serialization format used by TensorFlowLite: https://google.github.io/flatbuffers/

[2017-12-01 18:22] kavyasrinet commented on #41
Done: https://github.com/PaddlePaddle/Mobile/wiki/FlatBuffers-Survey

[2017-12-01 18:22] kavyasrinet commented on #41
Refer to: https://github.com/PaddlePaddle/Mobile/wiki/FlatBuffers-Survey

[2017-12-01 18:22] #41 closed, assigned to nobody

[2017-12-01 18:23] kavyasrinet commented on #31
Closing this since we already have the Wiki pages.

[2017-12-01 18:23] #31 closed, assigned to NHZlX

[2017-12-01 18:33] kavyasrinet opened #42 "Model Format Conversion and Freeze Graph"
To make a model work with TensorFlowLite, we need to have a converter that could convert any standard model to a tflite model format.

[2017-12-03 04:58] yeyupiaoling opened #43 "请问有paddlepaddle应用到Android的Demo吗"
我看了那么久的文档，都不知道怎么使用，比如在手机上识别手写数字

[2017-12-05 09:36] #36 closed, assigned to nobody

[2017-12-06 05:09] Xreki commented on #43
- https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README.md
这里有一个命令行方式执行的Android demo。

- https://github.com/PaddlePaddle/Mobile/pull/26
这是一个iOS App的demo。

- Android App的demo我们还在开发中。

[2017-12-06 10:02] yeyupiaoling commented on #43
@Xreki 那命令之前看过，最后的那部分不知道怎么做，你们努力，我为你们打call，我也要好好学习，看能不能为paddlepaddle贡献点什么。

[2017-12-06 15:34] yeyupiaoling commented on #43
@Xreki 我安装你给的这个[教程](https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README.md)在第二步的`make`时报错
`[ 17%] Linking CXX static library libpaddle_cuda.a`
`cpplint: Checking source code style`
`Traceback (most recent call last):`
`paddle/cuda/CMakeFiles/paddle_cuda.dir/build.make:146: recipe for target` `'paddle/cuda/libpaddle_cuda.a' failed`
`make[2]: *** [paddle/cuda/libpaddle_cuda.a

[2017-12-07 02:53] Xreki commented on #43
是说`Run the demo program by logging into the Android environment via adb and specifying the PaddlePaddle model from the command line as follows`这部分吗？这部分是通过Android的adb工具，将生成的二进制文件传输到Android手机上，然后`adb shell`登陆到Android手机上，以命令行的方式执行可执行程序，遇到什么问题可以详细地在这里列出来。另外，我们的文档也有不完善之处，欢迎多多提建议。

多谢你的支持，非常欢迎你的贡献。

你是自己搭建交叉编译环境来编译Android版本吧。这个错误跟go的版本没关系。具体贴一下你的cmake命令和cmake输出吧。

[2017-12-07 03:01] #34 closed, assigned to nobody

[2017-12-07 04:02] yeyupiaoling commented on #43
@Xreki 我执行的cmake是：
`cmake .. \
-DANDROID_ABI=armeabi-v7a \
-DANDROID_STANDALONE_TOOLCHAIN=/home/wang/ubuntu/paddlepaddle/android/arm_standalone_toolchain \
-DPADDLE_ROOT=/home/wang/ubuntu/paddlepaddle/android/install \
-DCMAKE_BUILD_TYPE=MinSizeRel`

他输出的日志是：
[code]

[2017-12-07 05:19] Xreki commented on #43
你这是在编译Android版Paddle吧，可能我们的文档让你误解了。

编译Android版Paddle（http://www.paddlepaddle.org/docs/develop/documentation/zh/mobile/cross_compiling_for_android_cn.html#linux ），按照这个步骤来：
- 下载NDK，生成自己的独立工具链
- 配置cmake：
[code]

以上是https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README.md 里面的第1步。然后再依次按文档执行第2,3,4步。

[2017-12-07 06:02] yeyupiaoling commented on #43
是的，我是安装步骤一步步来的，我出错的是第2步的，下面的命令
[code]

[2017-12-07 06:21] yeyupiaoling commented on #43
你们的文档写的很详细，我是按照教程来的，我觉得是我的环境问题

[2017-12-07 06:29] yeyupiaoling commented on #43
Compile `inference.cc` to an executable program for the Android environment as follows:
这句话不是很了解，我是要编译inference.cc，还是只执行下面的那些命令？

[2017-12-07 06:45] Xreki commented on #43
确认一下，第一步，你已经成功编译了PaddlePaddle库了吗？
从https://github.com/PaddlePaddle/Mobile/issues/43#issuecomment-349856554 的cmake的输出来看，这是在配置Paddle，而不是inference这个demo啊。

这句话，是教你配置和编译inference.cc，你需要进入到`Mobile/benchmark/tool/C`这个目录，然后执行下面的命令配置和编译。`make`完了之后，你会在`build`目录下看到`inference`这样一个可执行文件。

[2017-12-07 06:47] Xreki commented on #43
第2步cmake的输出应该是类似这样的（arm64-v8a版本）：
[code]

[2017-12-07 07:52] Xreki opened #46 "benchmark failed because of the update of protobuf's version"
See the detailed error:
[code]

Need to link Android's `log` library.

[2017-12-07 08:41] #46 closed, assigned to nobody

[2017-12-07 09:55] yeyupiaoling commented on #43
我明白了，因为在第一步的时候，我是在paddle的根目录下执行cmake的，所以我在第二步时，也就习惯在paddle根目录下执行那些命令了，所以才会出现这些问题。谢谢你了！

[2017-12-07 10:01] Xreki commented on #43
不客气。这个repo下的文档可能描述的不够清楚，我们也会尽快完善，:smile:

[2017-12-07 14:16] #43 closed, assigned to nobody

[2017-12-08 04:53] yeyupiaoling opened #48 "这条命令的参数是什么意思,我是这是有没有出错?"
我在[这个教程](https://github.com/PaddlePaddle/Mobile/tree/develop/benchmark/tool/C)的最后一步的命令,我执行了这个代码`./inference --merged_model ./mobilenet.paddle --input_size 784`,因为我是使用paddlepaddle的手写数字识别的,报以下的错误,那条命令的的第一个参数是什么?
[code]

[2017-12-11 09:16] Xreki commented on #48
这个意思应该是出错了。。。正确的输出应该是这样的：
[code]

我在PR #49 中写了这个例子的中文文档，其中详细介绍了每一个过程，也提供了参考模型下载，可以先试下。

[2017-12-11 09:16] Xreki opened #50 "Need to add Chinese README of how to benchmark Paddle on Android"

[2017-12-12 05:09] #39 closed, assigned to NHZlX

[2017-12-12 05:52] hedaoyuan opened #51 "Compile training model into inference model"
Based on the previous survey, various inference frameworks have a phase that transforms a training model into an inference model. Like `Compilation` in AndroidNN, `Conversion` in CoreML, `Build` in TensorRT, `Converter` in Tensorflow-Lite. Paddle Mobile also needs a compilation tool that transforms the training model into an inference model.

This compilation tool needs to be able to support the f

[2017-12-12 06:54] hedaoyuan opened #52 "Move tools into deployment"
The `deployment` directory can contain the following two parts.
1. Compile optimization for Paddle Mobile Inference Library.
2. Compile optimization of Paddle training model to Paddle inference model (see #51).

[2017-12-12 06:56] yeyupiaoling commented on #48
@Xreki 我看到你的是没有`WARNING: linker: /data/local/tmp/inference: unused DT entry: type 0xf arg 0x826`警告的,我猜应该是我的inference文件有问题
我有重新构建了
[code]
输入的日志是:
[code]
然后再执行`make`,输出:
[code]
你看我的输出日志有问题吗?
我用文档中提供的`mobilenet_flowers102.paddle`,也是包一样的错误

[2017-12-12 07:19] hedaoyuan opened #54 "Refine `models` directory"
The `models` directory needs to contain two parts. The first part is some standard model configuration files, such as MobileNet, ResNet, etc., that can be used as benchmark test data. The second part contains some well-trained model parameter files, such as the `mobilenet ssd pascal model`, which can be directly converted to inference model files for deployment to mobile.

[2017-12-12 07:26] Xreki commented on #54
I think the structure of the second would be same as https://github.com/PaddlePaddle/models . If we use different data set, there should be a sub-directory.

[2017-12-12 07:33] hedaoyuan commented on #54
I moved mobilenet.py and resnet.py to a `configuration` directory, and delete the README.md file, which does not look useful at the moment. I think @NHZlX can refine the `mobilenet_ssd_pascal` directory.

[2017-12-12 07:58] Xreki opened #56 "Cannot use |= to paddle_error"
We use `|=` to `paddle_error` in our benchmark.
https://github.com/PaddlePaddle/Mobile/blob/6b68be7a97cb66885f47816fd360b41896fc1147/benchmark/tool/C/inference.cc#L21-L24

However, the definition of `paddle_error` is:
https://github.com/PaddlePaddle/Paddle/blob/c8d4efb20eecab5a2edd55ccf923dac78afc6d78/paddle/capi/error.h#L23-L30

[code]

The different bit of different error may be the same. If we

[2017-12-12 08:16] Xreki commented on #48
从cmake和make输出信息来看，是没有问题的。我是arm64-v8a的测试手机，刚刚我也编译了一个armeabi-v7a的版本，在测试手机上运行输出是这样的：
[code]

也出现了`WARNING: linker: /data/local/tmp/inference: unused DT entry: type 0xf arg 0x720`这样的警告，但是还是能正常执行，没有出现`paddle forward error!`。

所以，能提供一下你的测试手机的架构信息，以及你使用的独立工具链的Android API吗？

另外，我们这个`inference.cc`里面不能输出错误类别信息，影响了错误的定位，这个我也会尽快修正。

[2017-12-12 09:22] yeyupiaoling commented on #48
我的[inference.zip](https://github.com/PaddlePaddle/Mobile/files/1550922/inference.zip),你有空试试,不知道是不是我这的问题

我的独立工具链armeabi-v7a、 Android API 21:
[code]

另外我真机是API19的(酷派大神F2),所以我使用的模拟器,他的信息如下:
[code]

[2017-12-12 09:31] Xreki commented on #48
我试过你这个可执行程序了，在我的测试机上也出现了同样的错误。。。

[2017-12-12 09:36] NHZlX commented on #54
@Xreki   The sub-directory just offer the model config and parameters? or the instructions for training. If add training process, there must be redundant somehow.

[2017-12-12 09:42] Xreki commented on #54
If the training process is the same as that in https://github.com/PaddlePaddle/models , we just provide the config and pre-trained parameters, and write a `README.md` to tell users how to train. Also, we do not need to upload the parameters to github, but give a link to download. We can write a script file to download the parameters (like https://github.com/PaddlePaddle/Mobile/blob/develop/Demo/li

[2017-12-12 09:48] hedaoyuan commented on #48
@yeyupiaoling 你编译的这个inference程序有修改inference.cc中的代码吗？我这边在一个小米 5的机器上是可以正确运行，不过forward时间不正确（多了1个数量级）。
[code]

[2017-12-12 09:49] #52 closed, assigned to hedaoyuan

[2017-12-12 11:01] yeyupiaoling commented on #48
@Xreki 我重新`make`一次:
[code]
输出的日志,注意最后显示的警告:
[code]

[2017-12-12 11:03] yeyupiaoling commented on #48
@hedaoyuan 至少不会出错,可以执行,你有做好的inference吗,给我试试

[2017-12-12 11:17] Xreki commented on #48
@yeyupiaoling 你又在Paddle目录执行demo的cmake了。。。

[inference.zip](https://github.com/PaddlePaddle/Mobile/files/1551321/inference.zip)

这是我编译好的inference可执行程序。另外，你编译出来的可执行程序比我编译出来的要大好多。你的有`58157KB`，我的只有`7066KB`。

PS：我在三个测试手机上试了你的inference，都出现同样的错误。。。

[2017-12-12 12:02] yeyupiaoling commented on #48
@Xreki 这........就很尴尬了
- 我重新构建了**独立工具链**和**配置交叉编译参数**,再`make`发现inference小了很多,只有7.9M,你的是7.2M
- 不过还是出错,但是错误代码不一样了,这是我的[inference.zip](https://github.com/PaddlePaddle/Mobile/files/1551446/inference.zip)
- 你的inference在我这边的没有出现`paddle forward error!`
输出日志如下:
[code]

- 我在Mobile下的`Mobile2/benchmark/tool/C/build`的`make`了,日志如下:
[code]

[2017-12-13 03:22] #54 closed, assigned to nobody

[2017-12-13 03:59] NHZlX commented on #48
[code]
这个只有warning 啊，error在哪...

[2017-12-13 05:53] Xreki commented on #48
这个真的很奇怪了，我尝试了几种能想到的编译组合，都无法复现你的问题。你试下https://github.com/PaddlePaddle/Mobile/wiki 的Paddle库，这个库我们在业务线上验证过的。

[2017-12-13 06:06] #50 closed, assigned to nobody

[2017-12-13 08:33] Xreki opened #58 "Need to add Chinese version README of iOS demo"

[2017-12-13 09:08] luotao1 opened #59 "Need to add travis-ci for checking pre-commit"

[2017-12-13 11:07] yeyupiaoling commented on #48
@Xreki 肯定是我的问题,我周末再从头彻彻底底做一遍,
* 最近老是给你们找麻烦,实在抱歉
* 我是先把paddlepaddle应用到Android手机上,在手机上做预测.搞了那么就还是没有大的进展,有点崩溃
* 非常感谢你的解答
* paddlepaddle的研究路上,不会停止

[2017-12-13 11:08] #48 closed, assigned to nobody

[2017-12-13 11:18] Xreki commented on #48
多谢你的支持。我们肯定也是有支持的不够完善的地方，才出现了这种无法定位的问题。请多多提意见，:smile:

另外，PaddlePaddle在送周年礼物，不要错过：https://github.com/PaddlePaddle/Paddle/issues/6542

[2017-12-14 03:01] #58 closed, assigned to nobody

[2017-12-14 03:38] #59 closed, assigned to nobody

[2017-12-15 00:26] #33 closed, assigned to kavyasrinet, sidgoyal78, kexinzhao

[2017-12-15 06:47] NHZlX commented on #51
I made a change to merge_model script.  For we need model config(`.py`) instead of model `prototxt`, thus a tool likes `converter --model_config mobilenet.py  --model_parameters mobilenet.tar.gz  --with_rounding True  --merge_batch_normalization True` is not easy to do.  I modify the original  `merge_v2_model ` interface to this:
[code]
The result `model.paddle` with rounding and merge_batchnormal

[2017-12-18 11:11] NHZlX opened #67 "refine merge model tools"
add batch normalization and rounding tool to merge_model tools

[2017-12-21 07:22] ballackscholl opened #69 "请问 能否提供一个 shufflenet + ssd 的移动版本"

[2017-12-21 09:12] Xreki commented on #69
你好，请问你需要的是配置文件，还是训练好的模型？

[2017-12-21 09:14] ballackscholl commented on #69
能否都提供？非常感谢

[2017-12-21 09:23] Xreki commented on #69
您好，Paddle缺乏`shuffle layer`，所以目前还不能支持`shufflenet`。

[2017-12-23 02:54] #69 closed, assigned to nobody

[2017-12-27 06:29] breaknormal1 opened #70 "安装android版paddle，cmake提示错误"
按照文档[Inference demo](https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README.md)配置android，cmake提示下面的错误：

CMake Error at CMakeLists.txt:32 (project):
  The CMAKE_CXX_COMPILER:

    /Home/wyf/android-ndk-r14b/build/tools/arm64_standlone_toolchain/bin/aarch64-linux-android-g++

  is not a full path to an existing compiler tool.

  Tell CMake where to find the compiler by setting e

[2017-12-27 06:39] Xreki commented on #70
您好，看cmake错误信息，应该是编译器`/Home/wyf/android-ndk-r14b/build/tools/arm64_standlone_toolchain/bin/aarch64-linux-android-g++`不存在。请先确认一下。

编译`inference demo`，需要按照[Android平台编译指南](http://www.paddlepaddle.org/docs/develop/documentation/zh/mobile/cross_compiling_for_android_cn.html)中**准备交叉编译环境**小结中所述，生成独立工具链。

如果以上两点都确认没有问题，那请帖一下你所使用的CMake命令吧。

[2017-12-27 07:14] breaknormal1 commented on #70
你好，
在**准备交叉编译环境**小结中也提到cmake：
cmake -DCMAKE_SYSTEM_NAME=Android \
      -DANDROID_STANDALONE_TOOLCHAIN=your/path/to/arm64_standalone_toolchain \
      -DANDROID_ABI=arm64-v8a \
      -DUSE_EIGEN_FOR_BLAS=OFF \
      -DCMAKE_INSTALL_PREFIX=your/path/to/install \
      -DWITH_C_API=ON \
      -DWITH_SWIG_PY=OFF \
      ..

这里的  DCMAKE_INSTALL_PREFIX=your/path/to/install \
是哪个路径呢？

[2017-12-27 07:15] breaknormal1 commented on #70
@Xreki

[2017-12-27 07:19] Xreki commented on #70
`Android平台编译指南`这个文档里面，讲的是如何编译Android上用的Paddle库，`CMake`是在配置Paddle，`CMAKE_INSTALL_PREFIX`所指定的，是你希望Paddle库安装到的路径，也就是`inference demo`中的`PADDLE_ROOT`。

`inference demo`里面的cmake命令，则是在配置这个demo本身。

[2017-12-27 07:38] breaknormal1 commented on #70
@Xreki
Android平台编译指南参照这里的cmake：
cmake -DCMAKE_SYSTEM_NAME=Android \
-DANDROID_STANDALONE_TOOLCHAIN=/home/wyf/android-ndk-r14b/build/tools/arm64_standalone_toolchain \
-DANDROID_ABI=arm64-v8a \
-DUSE_EIGEN_FOR_BLAS=OFF \
-DCMAKE_INSTALL_PREFIX=/home/wyf/paddle-android-demo\
-DWITH_C_API=ON \
-DWITH_SWIG_PY=OFF \
..
提示错误
CMake Error: The source directory "/home/wyf" does not appear to contain CMakeL

[2017-12-27 07:52] Xreki commented on #70
这个是你执行cmake命令所在的目录不对。如果是编译Paddle，一般是按照如下命令：
[code]

cmake最后的`..`代表源码所在目录，也就是Paddle源码所在的根目录。

[2017-12-27 07:55] Xreki commented on #70
另外：
- `inference demo`有中文使用文档https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README_cn.md 。
- 可以不必亲自编译Paddle库，wiki页面提供了预编译好的版本：https://github.com/PaddlePaddle/Mobile/wiki

[2017-12-27 08:04] breaknormal1 commented on #70
好的，谢谢
“Android平台编译指南”的cmake可以编译了，我先按照文档“Inference demo”试一下，不行的话再用预编译好的Paddle

[2017-12-27 09:09] breaknormal1 commented on #70
@Xreki
根据[inference demo](https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README_cn.md)第一步完成，生成了一paddle-android-demo-DWITH_C_API=ON文件夹，这里面也出现了include/lib/third_party三个目录;但在进行第二步[Step 2，编译示例程序]，我的cmake如下：
[code]
提示有问题。。。
在/Home/wyf/android-ndk-r14b/build/tools/arm64_standlone_toolchain/bin/目录下有aarch64-linux-android-g++ 和 aarch64-linux-android-gcc

[2017-12-27 09:49] Xreki commented on #70
这个看起来有点奇怪了，可以看下`/home/wyf/Mobile/benchmark/tool/C/CMakeFiles/CMakeError.log`有什么错误信息吗？

[2017-12-28 01:43] breaknormal1 commented on #70
@Xreki
[CMakeError.log](https://github.com/PaddlePaddle/Mobile/files/1590221/CMakeError.log)
这是CMakeError.log，麻烦看一下

[2017-12-28 06:50] breaknormal1 commented on #70
@Xreki
hi，这个问题搞定了，谢谢你的提示。。。。

[2017-12-28 08:04] Xreki commented on #70
我上午看了下你的CMakeError.log，其实没看出来原因，:worried:

谢谢你对Paddle的支持，另外，我们有一个正在开发中的Android demo，前端开发工作还没完成，https://github.com/PaddlePaddle/Mobile/pull/61 ，这个demo的效果将和iOS demo https://github.com/PaddlePaddle/Mobile/blob/develop/Demo/iOS/AICamera/README_cn.md 一样。希望能给你提供些参考。

经过如下几个步骤，你即可运行该demo：
- 下载该PR代码
[code]
- 从https://github.com/PaddlePaddle/Mobile/wiki 下载android的预编译库，解压后目录重命名为`paddle-android`放在`Demo/Andro

[2017-12-29 04:02] breaknormal1 commented on #70
@Xreki
OK，期待你们的前端尽快搞定

[2017-12-29 04:11] breaknormal1 opened #71 "编译Paddle Android demo，在生成inference时，make出现错误"
参照 [安卓文档](https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README_cn.md)，在进行第二步 make时提示下面的错误：

root@wyf-virtual-machine:/home/wyf/Paddle-Android/Mobile/benchmark/tool/C/build# make
Scanning dependencies of target inference
[100%] Building CXX object CMakeFiles/inference.dir/inference.cc.o
Linking CXX executable inference
/home/wyf/Paddle-Android/arm64_standalone_toolchain/bin/.

[2017-12-29 04:41] Xreki commented on #71
你是自己编译的Paddle库吧，我们最近Paddle库有更新，现在`third_party/protobuf/lib`下面安装的是`libprotobuf-lite.a`，实际上我们也只需要链接`libprotobuf-lite.a`就够了，抱歉demo没有来得及更新。修改如下：
文件https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/FindPaddle.cmake#L12 ，将`-lprotobuf`改成`-lprotobuf-lite`

[2017-12-29 06:05] breaknormal1 commented on #71
@Xreki
是的，我自己编译的Paddle库。
还好，现在编译出inference了。
谢谢啦

[2017-12-29 08:23] breaknormal1 commented on #70
@Xreki
再问一下，你上面说的“经过如下几个步骤，你即可运行该demo：”，
是你们Android demo做好之后，我就可以按照你说的步骤来，是这个意思吗？还是其他意思。。。。。

[2017-12-29 08:48] Xreki commented on #70
不是的，我的意思是， 我们的前端还没做好，但是当前版本也是可以运行的。如果你需要将Paddle集成到Android app里面，当前版本也可以提供一些参考。

[2018-01-03 05:42] graycreate commented on #30
Has paddlepaddle make use of the Android NNAPI ?

[2018-01-03 05:52] Xreki commented on #30
Paddle doesn't make use of Android NNAPI yet, but has plan to support.

[2018-01-04 09:27] angelashane opened #72 "PaddlePaddle新年大礼！周边产品送不停！"
各位亲爱的PaddlePaddle用户：

2017年已经过去，感谢你们一直陪伴PaddlePaddle在深度学习领域共同成长，无论是应用、贡献、还是review、纠错；每一个人的付出对于PaddlePaddle都是至关重要的。**值此新年，PaddlePaddle准备了一批周边小礼物赠送给各位，与各位一同迎接更好的2018！PaddlePaddle，一起加油！**

**周边礼物领取方式如下：**
请各位使用者、贡献者将**如下信息**发到PaddlePaddle-TechWriter@baidu.com
**【“姓名“+“github账号名” +“周边礼物快递邮寄地址”+”快递联系电话“+”定制卫衣号码（S：160，M：165，L：170，XL：175，xxL：180）“】** →发到PaddlePaddle-TechWriter@baidu.com
我们会根据邮件中的地址为您送上Pa

[2018-01-05 03:13] breaknormal1 opened #73 "缕清几个Android 应用Paddle时的概念"
[示例程序](https://github.com/PaddlePaddle/Mobile/blob/develop/benchmark/tool/C/README_cn.md)提到的生成merged model（也就是 *.paddle文件）要准备好准备好模型配置文件（.py）和参数文件（.tar.gz）。
问题：
1.参数文件（.tar.gz）是经过PC训练生成的吧？
2.模型配置文件mobilenet.py，是个啥东东？超链接打不开，看不到是啥
3.在PC上使用模型预测时，不需要这个“模型配置文件”吧？
4.Android APP我在Windows环境下用过Android Studio开发过，请问将paddle库、merge生成的 *.paddle文件分别放到对应的文件夹下，之后就可以在Android Studio 调api了，最后打包成apk，是这样吗？还是要像[示例程序]第4步？

[2018-01-05 03:44] Xreki commented on #73
是的。

抱歉，目录重新组织过了，所以链接失效了。示例配置程序：https://github.com/PaddlePaddle/Mobile/blob/develop/models/standard_network/mobilenet.py

更多的模型配置，可以在https://github.com/PaddlePaddle/models 找到。

已经生成了merged model后，可直接使用merge model来预测。

是的，直接用Android Studio就可以了。Android Studio支持cmake，都已经在build.gradle里面配置好了，Android Studio会自动调用cmake来编译jni代码。并且直接安装apk，运行app即可。

[2018-01-08 09:15] realsnake opened #74 "建议加上iOS和安卓平台编译好的release库，以便开发者直接下载使用"
Hi，
我看文档介绍都是从源码编译出库来再使用，通常是比较费时费力，且提高了使用门槛。 建议加上官方发布的release版本，直接提供下载使用。

[2018-01-08 09:23] hedaoyuan commented on #74
这里https://github.com/PaddlePaddle/Mobile/wiki 有一个编译好的库可以使用。

[2018-01-09 01:56] realsnake commented on #74
好，多谢

[2018-01-09 01:56] #74 closed, assigned to nobody

[2018-01-09 01:57] realsnake opened #75 "希望支持paddlepaddle的model转换成coreML的model"
TensorFlow lite已经支持了，这个convert工具最好paddle官方也能支持

[2018-01-09 03:06] Xreki commented on #75
您好，感谢您对PaddlePaddle的关注。PaddlePaddle有支持CoreML的计划，只是由于人力和资源方面的原因，不能马上支持，敬请谅解。

[2018-01-09 12:49] realsnake opened #76 "capi加载模型出错mapGet(type, creatorMap_, &creator) Unknown class type: data"
[ar_infer.paddle.zip](https://github.com/PaddlePaddle/Mobile/files/1615122/ar_infer.paddle.zip)
我使用了merge_model 生成了.paddle文件以供capi加载

init没报错应该是成功了，paddle_gradient_machine_create_for_inference_with_parameters报错了，传入的参数buf无为空，size对比模型文件本身大小是一致的，错误log如下：
[code]

[2018-01-10 02:24] Xreki commented on #76
你好，上述错误应该是没有正确地链接Paddle库。请问你的链接方式是？
- 如果是应用在Android App中，请参考https://github.com/PaddlePaddle/Mobile/pull/61 中的CMakeLists.txt和FindPaddle.cmake，其中FindPaddle.cmake可以直接拿过来复用。
- 如果你是应用在Linux服务器上或者是命令行方式运行Android二进制文件，可以参考https://github.com/PaddlePaddle/Mobile/tree/develop/Demo/linux 和 https://github.com/PaddlePaddle/Mobile/tree/develop/benchmark/tool/C 。

https://github.com/PaddlePaddle/Mobile/blob/be28

[2018-01-10 02:26] Xreki commented on #76
仔细看了下log，貌似你是在iOS App中使用Paddle？那么Paddle的链接方式请参考：https://github.com/PaddlePaddle/Mobile/blob/develop/Demo/iOS/AICamera/README_cn.md#%E5%A6%82%E4%BD%95%E9%93%BE%E6%8E%A5paddlepaddle%E5%BA%93 。

需要配置`-force_load`链接`libpaddle_capi_layers.a`。

[2018-01-10 02:51] realsnake commented on #76
恩，是这个问题，已解决多谢！

[2018-01-10 02:51] #76 closed, assigned to nobody

[2018-01-10 03:00] realsnake commented on #72
Hi
本人近一段时间在学习研究PaddlePaddle，整体感觉还是比较易用，容易上手。从网上查找相关问题，大部分都会检索到github或官方文档等，相对于TensorFlow等，可能外部开发者少一点。 希望2018年，Paddle整体发展更快，影响力更广。本人作为移动端开发者，更希望多增加对移动端的支持力度，早日支持CoreML格式转换！

PaddlePaddle，一起加油！

[2018-01-16 08:08] afantree opened #77 "Android demo和iOS demo的对比体验"
下载了Android分支的demo，编译之后安装之后发现和iOS的不一样，android的相机界面没有识别出来物体

[2018-01-16 08:17] Xreki commented on #77
您好，Android分支的demo所使用的模型和iOS是一样的，所以造成识别效果差异的主要原因，应该在于前端的处理。该分支目前还在开发和优化中。另外，如果您有优化的建议，我们会非常欢迎，:smile:

[2018-01-22 07:39] afantree commented on #77
谢谢

[2018-01-22 07:39] #77 closed, assigned to nobody

[2018-01-23 10:12] Xreki commented on #77
@afantree 上周五我试用Android分支demo，效果确实存在一些问题。目前已经找到问题并解决啦，欢迎试用~稍后我们会上传下载安装的二维码。

[2018-02-25 12:52] yeyupiaoling opened #78 "编译Android的PaddlePaddle库最低支持Android API多少"
在文档http://www.paddlepaddle.org/docs/develop/documentation/zh/mobile/cross_compiling_for_android_cn.html中提到

如果只是使用到`armeabi-v7a`，最低支持的Android API是多少？

[2018-02-26 05:55] yeyupiaoling opened #79 "能否提Android项目的整个项目结构"
项目https://github.com/PaddlePaddle/Mobile/tree/develop/Demo/Android/AICamera
这个项目有很多目录都没有，我不知道它的结构是什么，能否把整一个项目目录发我 ，我的邮箱为：yeyupiaoling@foxmail.com

[2018-02-26 15:17] yeyupiaoling opened #80 "使用Android Studio开发是要选择C++支持吗？"
在用Android Studio创建Android项目时，要选择C++支持吗，还是默认就可以了？

[2018-02-27 08:01] Xreki commented on #78
`armeabi-v7a`测试过的最小Android API是`16`。

另外，这个其实是Android NDK本身的要求。你在Android Studio中可以将API设置成小于`21`，实际上对于`arm64`架构，会默认使用`21`。

[2018-02-27 08:12] Xreki commented on #79
你好，Android Demo应该只有两个目录没有：
1. paddle二进制，可以从[wiki](https://github.com/PaddlePaddle/Mobile/wiki)下载，放到`AICamera/app`目录下。如果你是手动编译的最新版Paddle，`FindPaddle.cmake`可能还有些内容要改动。
2. 模型文件，`AICamera/app/src/main/assets/models`目录下，模型文件可通过https://github.com/PaddlePaddle/Mobile/tree/develop/Demo/Android/AICamera#models 里面的链接下载。

目前缺乏中文文档，操作步骤也没有描述清楚，还请谅解。

[2018-02-27 08:14] Xreki commented on #80
如果你需要自己编译jni代码，调用Paddle库，则需要选择C++支持哦。

[2018-02-27 08:33] yeyupiaoling commented on #80
@Xreki
好的，收到，多谢

[2018-02-27 08:33] #80 closed, assigned to nobody

[2018-02-27 08:33] yeyupiaoling commented on #78
@Xreki
好的，谢谢~

[2018-02-27 08:33] #78 closed, assigned to nobody

[2018-02-27 08:42] yeyupiaoling commented on #79
@Xreki
嗯嗯，收到，我只想在Android的APP上实现简单的图像分类问题，您那个项目有点复杂，注释也比较少，我还在读您的Demo中，我在找以下几个问题：
* 初始化PaddlePaddle
* 加载合并的模型
* 传入图像数据
* 获取预测结果

[2018-02-27 09:14] Xreki commented on #79
这个项目确实做了一些特殊的处理：
- 模型要求的图像size，`pascal_mobilenet_300_66.paddle`是300x300x3，`face_mobilenet_160_91.paddle`是160x160x3。摄像头获取到的图像会直接传给c++代码，因此c++代码里面有对图像做resize的功能。另外图像可能需要旋转90、180、270度。

C++代码里面可以一一对应这几个问题：
- 初始化PaddlePaddle

https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/src/main/cpp/paddle_image_recognizer.cpp#L97-L98

- 加载合并的模型

https:

[2018-02-28 05:53] yeyupiaoling commented on #79
https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/src/main/cpp/paddle_image_recognizer.cpp#L212-L217

这个函数是如何传入图像数据进行预测的，没看到有图像数据的传入？

[2018-02-28 07:43] yeyupiaoling commented on #79
@Xreki
这个应该是传入数据的关键
https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/src/main/java/com/paddlepaddle/pdcamera/MainActivity.java#L305-L316

但是数据传到这里就不知道怎么没有了
https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/src/main/cpp/paddle_image_recognizer.cpp#L249

看代码应该是这里获取预测结果
https://g

[2018-02-28 08:32] yeyupiaoling commented on #79
@Xreki
我自己使用Android studio创建了一个新项目，打算复原您的dome，在构建的时候出现
![image](https://user-images.githubusercontent.com/26297768/36777574-f263eb2c-1ca4-11e8-8443-b061eb8dbb71.png)

还有这个
![image](https://user-images.githubusercontent.com/26297768/36777609-14ea837c-1ca5-11e8-878e-5353f5dfce8f.png)

**日志文件：**
[CMakeOutput.log](https://github.com/PaddlePaddle/Mobile/files/1766263/CMakeOutput.log)

[2018-02-28 15:21] yeyupiaoling commented on #79
@Xreki
如果我使用创建时，Android studio生成的CMakeList.txt，就不会出错，当然应为我没修改里面的文件，只是修改这而已
[code]

我也复制FindPaddle.cmake，还是报错`#include <paddle/capi.h>`，找不到

![image](https://user-images.githubusercontent.com/26297768/36823150-a550c912-1d36-11e8-86d9-3f1a17593a81.png)

[2018-03-01 03:14] zhaofenqiang commented on #71
建议尽快更新一下吧，我也遇到了这个问题，不过按照Xreki的方法完美解决了~

[2018-03-04 11:08] yeyupiaoling opened #81 "Android加载PaddlePaddle库失败"
我创建一个Android项目，使用官方的[FindPaddle.cmake](https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/FindPaddle.cmake)和[CMakeLists.txt](https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/CMakeLists.txt)，只是修改下面部分，报错，无法构建项目
[code]
报错如下：
![image](https://user-images.githubusercontent.com/26297

[2018-03-04 11:13] yeyupiaoling commented on #79
方便问题跟踪和分类，已新建issue，#81

[2018-03-04 11:13] #79 closed, assigned to nobody

[2018-03-05 02:50] Xreki commented on #81
你paddle库放在什么地方了，可在这里修改paddle库的位置：

https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/CMakeLists.txt#L24-L24

如果不修改`PADDLE_ROOT`，则paddle库必须重命名为`paddle-android`放到`app/paddle-android`。

[2018-03-05 14:44] yeyupiaoling commented on #81
@Xreki
没错，我就是放在`app/paddle-android`
如果使用官方的CMakeList.txt，就报CMakeList.txt错误，在问题上面有描述。如果能直接使用官方的加载PaddlePaddle那最好。

[2018-03-06 09:00] yeyupiaoling commented on #81
@Xreki
您能讲一下面的代码的作用吗？我复制过去就报错了。`add_library`可以不用讲
https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/CMakeLists.txt#L21-L43

[2018-03-06 11:09] Xreki commented on #81
- Line 21：设置`.cmake`文件查找的路径
- Line 24：设置paddle-android库的路径，在`FindPaddle.cmake`里面需要用到
- Line 25：查找paddle-android库的头文件和库文件是否存在
- Line 27 - 30：项目中所有C++源码文件
- Line 32和Line 34：用来限制库`paddle_image_recognizer`符号表的，这样生成的so会小一些。这两行也可以不加。
- Line 33：生成动态库即`.so`文件
- Line 36 - 37：为`paddle_image_recognizer`添加`include`路径
- Line 39 - 43：为`paddle_image_recognizer`添加需要链接的库

突然想到，你是不是Line 36 - 37没有加到`CMakeLists.txt`中

[2018-03-06 11:30] yeyupiaoling commented on #81
@Xreki
嗯嗯，被您说对了，的确没加
[code]

如果我完全复制您的`CMakeLists.txt`中代码，是报错的就问题描述那样的错误

[2018-03-06 11:43] Xreki commented on #81
Line 21 - 25，Line 36 - 43必须添加。

[2018-03-07 01:34] yeyupiaoling commented on #81
@Xreki
如果是一个官方的`CMakeList.txt`，就会报下面的错误
[code]

[2018-03-07 03:57] yeyupiaoling commented on #81
@Xreki
我排查，是21行的时候出错的，我注释掉就不会报上面的错误，只是找不到Paddle
[code]

[2018-03-08 05:32] yeyupiaoling commented on #81
@Xreki
在吗？

[2018-03-08 05:37] yeyupiaoling opened #82 "Android初始化PaddlePaddle问题"
看Android得例子，初始化代码应该是这一段
https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/src/main/cpp/paddle_image_recognizer.cpp#L66-L75

其中`--pool_limit_size=0`是什么意思，是否可以在初始化PaddlePaddle的时候指定使用使用GPU
我看到代码指定是否使用GPU是这一段
https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/Android/AICamera/app/src/main/cpp/paddle_ima

[2018-03-10 07:11] yeyupiaoling commented on #81
@Xreki
在吗。求解

[2018-03-10 07:11] yeyupiaoling commented on #82
@Xreki
在吗。求解

[2018-03-11 03:59] yeyupiaoling commented on #81
@Xreki
在吗？能否解答我这个问题？

[2018-03-12 05:10] zhaofenqiang opened #83 "Error when building linux ssd demo"
I followed this [guide](https://github.com/PaddlePaddle/Mobile/tree/develop/Demo/linux) to build the ssd demo on Ubuntu 16.04.
Everything is ok untill `make` , the error is:

I am new at C++, so could anyone help me, please, thanks!

[2018-03-16 11:01] yeyupiaoling commented on #81
问题出在FindPaddle.cmake的25行原来的：
[code]
应该改为：
[code]
还有个问题就是ImageRecognizer.java的32行：
[code]
改成：
[code]

[2018-03-16 11:01] #81 closed, assigned to nobody

[2018-03-22 09:22] spencerlisp opened #84 "" Unknown class type: recurrent_layer_group" when using capi in ios"
" Unknown class type: recurrent_layer_group" error occur  when I run inference using RNN model
capi: download from the pre-compiled libs in paddle mobile
ios：iphone7

F0322 17:16:18.261178 3028687744 ClassRegistrar.h:65] Check failed: mapGet(type, creatorMap_, &creator) Unknown class type: recurrent_layer_group
*** Check failure stack trace: ***
    @        0x102c7e0bc  google::LogMessage::Fail()

[2018-03-22 09:35] Xreki commented on #84
有两个可能：
- 一个是没有使用`-force_load`链接，文档[如何链接PaddlePaddle库](https://github.com/PaddlePaddle/Mobile/blob/develop/Demo/iOS/AICamera/README.cn.md#%E5%A6%82%E4%BD%95%E9%93%BE%E6%8E%A5paddlepaddle%E5%BA%93)
- 一个是没有调用`paddle_init`函数
https://github.com/PaddlePaddle/Mobile/blob/477186702e368a55c6a3319f2b78257c7c0ac51d/Demo/iOS/AICamera/AICamera/paddle_image_recognizer.h#L71-L71

[2018-03-23 03:03] spencerlisp commented on #84
这两个都没问题，跑普通的cnn模型都ok，就是新用了个带有rnn模型的情况下出现
有其他可能原因么？我理解capi应该是完备的支持rnn layer的吧？

[2018-03-23 03:28] Xreki commented on #84
哦~想起来了，之前为了最小化paddle库的大小，把`recurrent_layer_group`相关实现移除了。。。你们对paddle库的大小有要求么？

[2018-04-12 07:15] IceHee commented on #73
亲，我很想请教你移植paddlepaddle到安卓上的问题，有空能不能回复一下我，谢谢！！！！！

[2018-04-13 03:04] IceHee opened #87 "请问老师几个paddlepaddle移植安卓上的问题"
请问：是不是我只有一个模型就不需要用到这一步：使用模型配置文件（如config.py）和模型参数（例如params_pass_0.tar.gz）来获得合并的模型文件？

[2018-04-16 01:55] IceHee commented on #71
你好，能请问几个paddle做安卓的几个问题吗？谢谢！

[2018-04-16 04:58] Xreki commented on #87
请参考https://github.com/PaddlePaddle/Mobile/blob/develop/deployment/model/merge_config_parameters/README.cn.md

[2018-04-27 02:30] frozenfires commented on #71
@Xreki
谢谢，终于解决了。找了好几天以为是工具链的问题。

[2018-04-27 02:44] frozenfires commented on #71
@Xreki
还有，能不能更新一下项目，让后来者避免踩这种不必要的坑

[2018-04-27 11:23] youngstu opened #90 "AICamera android: cannot run normally, because there is no resize process and yuv2rgb function return negative value?"
Why push code that bugs exist and cannot run normally to github ?  And to mislead others  on purpose.

[2018-04-27 11:45] Xreki commented on #90
What kind of error do you meet? We can successfully build the project, the only need is to put the paddle library and models in the right position. We provide a pre-built app, you can download through the QR code. https://github.com/PaddlePaddle/Mobile/tree/develop/Demo/Android/AICamera#quick-install

[2018-04-27 12:08] youngstu commented on #90
I have tryied to run the given model such as face_mobilenet_160_91.paddle, pascal_mobilenet_300_66.paddle. Because the model size is different from camera frame size, the app cannot detect normally.

[2018-04-27 12:09] youngstu commented on #90
Are you sure that you can run it accurately?

[2018-04-27 12:10] youngstu commented on #90
Yeah, I can also build the project successfully but it can not detect anything.

[2018-04-27 12:12] youngstu commented on #90
After I read the project source code, I find that there is no resize process that deals with the difference in size between camera frame size and the model input size.

[2018-04-27 12:21] youngstu commented on #90
The pre-build app that i have tryied, it also failed to detect anying.

[2018-04-27 12:25] Xreki commented on #90
`resize` is done in c++ codes.

[2018-04-27 12:40] youngstu commented on #90
vivo x9s looks like that it can not detect accurately and help to fix it. thank you.

[2018-04-27 12:45] youngstu commented on #90
Can you help to give the right position to put model ?

[2018-04-28 02:05] Xreki commented on #90
Models should be put under `app/src/main/assets/models`.

[2018-05-11 04:03] CHNEG8805 opened #92 "demo linux"
我在树莓派上编译demo/linux.报如下的错误，提示找不到protobuf，可是protobuf明明在啊，请问是为什么呢

-- Found PaddlePaddle (include: /usr/include; library: /usr/lib/libpaddle_capi_layers.a, /usr/lib/libpaddle_capi_engine.a)
CMake Warning at FindPaddle.cmake:70 (message):
  Cannot find protobuf under /home/paddle/_install/third_party
Call Stack (most recent call first):
  FindPaddle.cmake:75 (third_party_library)
  CMakeLists.txt:19 (

[2018-05-23 06:23] yeyupiaoling opened #93 "Android手机读取图像问题"
@Xreki 我根据Android的Dome做了一个图像分类的，但是在读取出了点问题。在Java中，是把图像转成字节数组的，所以我也是这个样做，如下代码。但是pixels这个字节数组得到的结果是不定长的，但是图像明明都是3\*32\*32的。大小应该都是3072才对。这是为什么呢？
[code]

就是因为上面的大小没有充满矩阵，导致array很多都是0的。
[code]
这个怎么解决？？？求解答。

[2018-05-24 01:49] yeyupiaoling commented on #82
应都是指定GPU的，只是如果初始化的时候，没有GPU，但指定CPU的时，初始化PaddlePaddle就报错了。如果是使用创建矩阵的时候指定GPU，只是不能正常预测，其他都是正常的。

[2018-05-24 01:49] #82 closed, assigned to nobody

[2018-05-25 12:55] yeyupiaoling commented on #93
大体上是没错的，只是通道顺错了而已，这样读取是RGB的，但CIFAR训练时是BGR的，所以要转换一下：
[code]

[2018-05-25 12:55] #93 closed, assigned to nobody

[2018-09-26 03:20] lcxywfe commented on #92
"Cannot find protobuf under /home/paddle/_install/third_party"
是不是要git submodule update之类的

[2021-11-22 11:34] hzhang33BEI commented on #75
三年过去了，现在还不支持嘛？